*,body
{
    margin: 0;
    padding: 0;
}
body
{
    display: none;
    background:linear-gradient(-90deg,lightgoldenrodyellow,gold);
   
}
.box
{
    box-shadow: 3px 2px 1px 1px rgba(0,0,0,.4);
    border-radius: 3px;
    margin-bottom: 8px;
    background-color:plum!important;
   
}
.box:nth-child(odd)
{
    background-color: palegreen!important;
}
.box:hover
{
    box-shadow: 6px 3px 2px 4px rgba(0,0,0,.4);
    border-radius:5px;
    box-sizing: border-box;
    
}

.box > h3
{
    padding-top: 5px;
    color: darkblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}
.box > span
{
    position: relative;
   
    color:darkcyan;
    font-size: 30px;
}
@media screen and (min-width:767px)
{
    body
        {
            background:linear-gradien(blue,lightblue);
           
        }
    .box:nth-child(even)
    {
        height: 260px!important;
        background-color:rgba(0,0,0,.1)!important;
    }
    .box:nth-child(odd){
        height: 260px!important;
        background-color:rgba(0,0,0,.1)!important;
    }
}