*,body
{
    margin: 0;
    padding: 0;
}
body
{
    display: none;
    background-image: rgba(215,135,123,.5);
}
.box
{
      border: 2px solid rgba(0,0,0,.4);
}

.box > h1
{
    margin-left:    4%;
    margin-right:4%;
    color: darkblue;
    font-family:Courier New, Courier, monospace;
    text-transform: uppercase;
}
.box > h2
{
    position: relative;
   
    color:darkcyan;
    font-size: 30px;
}
.generate
{
    width: 150px;
    height: 75px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 3px;
    border-radius: 7px;
    background-color:rgba(124, 212,199, .6);
    border: soled darkmagenta;
    position: relative;
  
    box-shadow:2px 3px 3px 3px grey;

}