*,body
{
    margin:0;
    padding: 0;
}
#heading
{
    text-transform: uppercase;
    color: rosybrown;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.work{
    list-style: none;
}
.work-item
{
 list-style: none;
 display:block;
 background-color:sandybrown;
 width: 100%;
 height:300px;
}
.works>li:nth-child(even)>a
{
    
    background: white;
}
.works>li:first-child>a
{
    background: url(src/images/a.jpg) center;
    width: 100%;
    height: 300px;
}
